models/autoencoder/training/*
!models/autoencoder/training/.gitkeep

images/autoencoder/training/*
!images/autoencoder/training/.gitkeep

models/variableautoencoder/training/*
!models/variableautoencoder/training/.gitkeep

images/variableautoencoder/training/*
!images/variableautoencoder/training/.gitkeep