# Preprocessing and plotting
pandas==1.4.2
matplotlib==3.5.1
seaborn==0.11.2
tqdm==4.64.0

# Reading configs
PyYAML==6.0

# Testing
pytest==7.1.1

# iPykernel for running data exploration ipynbs
ipykernel==6.13.0

# Pytorch (with / without CUDA)
torch==1.11.0 --extra-index-url https://download.pytorch.org/whl/cu113      # with CUDA
# torch

# As always - install self as editable
--editable .
